<html lang="en" ng-app="PhotoBrowser">
<head>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
</head>
<body layout="column" ng-controller="RootController as rootCtrl">
<md-toolbar layout="row">
  <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
    <span class="visually-hidden">Menu</span>
  </button>
  <h1>Hello World</h1>
</md-toolbar>
<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">

  </md-sidenav>
  <div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
      <h2>Categories</h2>
      <ul>
        <li ng-repeat="category in categories">{{category.name}}</li>
      </ul>
      <h2>Keywords</h2>
      <ul>
        <li ng-repeat="keyword in keywords">{{keyword.word}}</li>
      </ul>
      <h2>Photos</h2>
      <ul>
        <li ng-repeat="photo in photos">{{photo.id}}</li>
      </ul>
      <h2>PhotoKeywords</h2>
      <ul>
        <li ng-repeat="photoKeyword in photoKeywords">{{photoKeyword.id}}</li>
      </ul>
      <h2>PhotoCategories</h2>
      <ul>
        <li ng-repeat="photoCategory in photoCategories">{{photoCategory.id}}</li>
      </ul>
      <h2>Roles</h2>
      <ul>
        <li ng-repeat="role in roles">{{role}}</li>
      </ul>
    </md-content>
  </div>
</div>
<!-- Angular Material Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>
<script src="assets/javascripts/PhotoAPI.js"></script>
<script>
    var app = angular.module('PhotoBrowser', ['ngMaterial','PhotoAPI'])
            .controller('RootController', ['$scope','$mdSidenav','Category', 'Keyword', 'Photo', 'PhotoKeyword', 'PhotoCategory', 'Roles',
                function($scope,$mdSidenav,Category, Keyword, Photo, PhotoKeyword, PhotoCategory, Roles){
        $scope.categories = Category.query();
        $scope.keywords = Keyword.query();
        $scope.photos = Photo.query();
        $scope.photoKeywords = PhotoKeyword.query();
        $scope.photoCategories = PhotoCategory.query();
        $scope.roles = Roles.query();

        $scope.toggleSidenav = function(menuId) {
            $mdSidenav(menuId).toggle();
        };
    }]);
</script>
</body>
</html>