<html lang="en" ng-app="PhotoBrowser">
<head>
  <link rel="stylesheet" href="/assets/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/assets/bower_components/material-design-iconic-font/css/icons.css"/>
  <link rel="stylesheet" href="/assets/bower_components/isteven-angular-multiselect/angular-multi-select.css"/>
  <style>
        .photo.unreviewed > md-card, .photo-dialog.unreviewed > div{
            border-top: solid #BBBBBB 5px;
        }
        .photo.approved > md-card, .photo-dialog.approved > div{
            border-top: solid #5cb85c 5px;
        }
        .photo.rejected > md-card, .photo-dialog.rejected > div{
            border-top: solid #B00100 5px;
        }
        .photo.no_usage > md-card, .photo-dialog.no_usage > div{
            border-top: solid #730E15 5px;
        }
        .photo-dialog .actions {
            position: absolute;
            right: 20px;
            top: 20px;
            background: rgba(0,0,0,0.5);
        }
        .photo-dialog .actions > *{
            color:#fff;
        }
        .photo-dialog md-content ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .photo-dialog md-content li{
            margin: 10px 0;
        }
        .photo-dialog > .mask{
            max-height: 300px;
            overflow: hidden;
            -webkit-transition: max-height 750ms ease-in-out;
            -moz-transition:    max-height 750ms ease-in-out;
            -o-transition:      max-height 750ms ease-in-out;
            transition:         max-height 750ms ease-in-out;
        }
        .photo-dialog.details > .mask{
            max-height: 2000px;
        }
        .photo-dialog img{
            height: auto;
            width: 100%;
        }
        .photo-dialog .info{
            -webkit-transition: all 750ms ease-in-out;
            -moz-transition:    all 750ms ease-in-out;
            -o-transition:      all 750ms ease-in-out;
            transition:         all 750ms ease-in-out;
            max-height: 1000px;
        }
        .photo-dialog.details .info{
            max-height: 0;
            padding:0;
        }
        .resolution{
          position: absolute;
          top: 20px;
          left:15px;
          padding:5px;
          color:white;
          background: rgba(0,0,0,0.5);
        }

  </style>
</head>
<body layout="column" ng-controller="RootController as rootCtrl">
<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <span class="md-flex">YFU Photo Browser</span>
  </div>
</md-toolbar>
<md-tabs md-selected="selectedIndex">
  <md-tab ng-repeat="tab in tabs" label="{{tab.title}}">
    <div class="tab-content tab{{$index}}" layout="column" layout-fill>
      <ng-include src="tab.template" style="display:block;width:100%;"></ng-include>
    </div>
  </md-tab>
</md-tabs>
<div ng-view></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Angular Material Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>

<script src="/assets/bower_components/angular-material/angular-material.min.js"></script>

<!-- Masonry -->
<script src="/assets/bower_components/get-size/get-size.js"></script>
<script src="/assets/bower_components/get-style-property/get-style-property.js"></script>
<script src="/assets/bower_components/eventie/eventie.js"></script>
<script src="/assets/bower_components/doc-ready/doc-ready.js"></script>
<script src="/assets/bower_components/eventEmitter/EventEmitter.min.js"></script>
<script src="/assets/bower_components/matches-selector/matches-selector.js"></script>
<script src="/assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
<script src="/assets/bower_components/outlayer/outlayer.js"></script>

<script src="/assets/bower_components/angular-masonry/angular-masonry.js"></script>

<script src="/assets/bower_components/isteven-angular-multiselect/angular-multi-select.js"></script>

<!-- App -->
<script src="/assets/javascripts/PhotoAPI.js"></script>
<script src="/assets/javascripts/app.js"></script>
</body>
</html>