<div ng-controller="PhotosController as photosCtrl" >
    <div ng-show="showSearch" class="fx-zoom-normal fx-speed-800 search-form" layout="column" layout-margin style="max-width: 960px;margin: 0 auto;">
        <div layout="row" layout-align="center end" layout-margin>
            <md-input-container flex style="margin:0;">
                <label>Search</label>
                <input ng-model="search"/>
            </md-input-container>
            <div class="select-container">
                <label>Property</label>
                <md-select ng-model="propertyToSearch" placeholder="Filter">
                    <md-option ng-value="property" ng-repeat="property in properties">{{ property }}</md-option>
                </md-select>
            </div>
            <div class="select-container" ng-show="isAdmin">
                <label>Status</label>
                <md-select ng-model="selectedStatus" placeholder="Status">
                    <md-option ng-value="''">All</md-option>
                    <md-option ng-value="status" ng-repeat="status in statuses">{{ status }}</md-option>
                </md-select>
            </div>
            <div class="select-container">
                <label>Order by</label>
                <md-select ng-model="propertyToOrder" placeholder="Sort">
                    <md-option ng-value="property" ng-repeat="property in orderProperties">{{ property }}</md-option>
                </md-select>
            </div>
            <md-checkbox ng-model="ascending" style="padding-bottom:20px;">
                Ascending
            </md-checkbox>
        </div>
        <div layout="row">
            <div class="slider-container" flex>
                <label>Minimum Resolution (width)</label>
                <md-slider flex md-discrete ng-model="minRes" step="90" min="0" max="3000" aria-label="Minimum resolution">
                </md-slider>
            </div>
            <md-button aria-label="Search photos" ng-click="searchPhotos(search,propertyToSearch,propertyToOrder,ascending,minRes,selectedStatus)" class="md-primary" style="margin-bottom: 24px;"><i class="mdi-search mdi-2x"></i></md-button>
        </div>

    </div>
    <div layout="row" layout-align="space-around center" layout-wrap style="margin: 0 auto;max-width: 1620px; padding: 0 20px;">
        <!--<div masonry="{gutter:20,isFitWidth: true}" load-images="false"
             column-width="300"
             style="display: block;margin:0 auto;">
            <div class="masonry-brick photo" ng-class="photo.status"
                 ng-repeat="photo in (filteredPhotos = (photos | filter:finalQuery  | orderBy:finalOrder:!finalAscending)) | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"
                 style="opacity: 0;width:300px;margin-bottom:20px;">
                <md-card ng-click="showDetails(photo.id)">
                    <div class="mask" ng-style="{'background-image':'url(/api/photos/{{photo.id}}/file/small)'}">
                    </div>
                    <span class="resolution">{{photo.height}}x{{photo.width}}</span>
                    <md-card-content>
                        <span>{{photo.caption|limitTo:30}}</span>
                        <span ng-if="photo.caption.length>30">...</span>
                    </md-card-content>
                </md-card>
            </div>
        </div>-->
        <div flex="20" flex-lg="30" flex-md="40" flex-sm="90"
             class="photo fx-fade-down fx-speed-800" ng-class="photo.status"
             ng-repeat="photo in (filteredPhotos = (photos | filter:finalQuery | filter:{status:finalStatus} |filter:greaterThen('width',finalMinRes) | orderBy:finalOrder:!finalAscending)) | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"
             style="width:300px;margin-bottom:20px;position:relative;">
            <md-card ng-click="showDetails(photo.id)">
                <div class="mask" ng-style="{'background-image':'url(/api/photos/{{photo.id}}/file/small)'}">
                </div>
                <span class="resolution">{{photo.height}}x{{photo.width}}</span>
                <md-card-content>
                    <span>{{photo.caption|limitTo:30}}</span><span ng-show="photo.caption.length>30">...</span>
                    <span ng-hide="photo.caption">No caption</span>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="pagination" ng-show="pageCount(filteredPhotos?filteredPhotos:photos)>1" style="text-align:center;position:fixed;bottom:25px;width:100%;">
        <md-button aria-label="Previous page" class="md-fab" ng-class="prevPageDisabled()" ng-click="prevPage()">
            &lt;
        </md-button>
        <md-button aria-label="Go to page {{n+1}}" class="md-fab"
                   ng-repeat="n in []|range:pageCount(filteredPhotos?filteredPhotos:photos)"
                   ng-class="{active: n == currentPage}" ng-click="setPage(n)">
            {{n+1}}
        </md-button>
        <md-button aria-label="Next page" class="md-fab" ng-class="nextPageDisabled(filteredPhotos?filteredPhotos:photos)" ng-click="nextPage(filteredPhotos?filteredPhotos:photos)">
            &gt;
        </md-button>
    </div>
</div>
