<div ng-controller="PhotosController as photosCtrl">
    <div style="margin:20px;">
        <div masonry="{gutter:20,isFitWidth: true}" column-width="300"
             style="display: block;margin:0 auto;">
            <div class="masonry-brick photo" ng-class="photo.status"
                 ng-repeat="photo in photos | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"
                 style="opacity: 0;width:300px;margin-bottom:20px;">
                <md-card>
                    <img ng-src="/api/photos/{{photo.id}}/file/small" style="height:auto;width:auto;max-width:100%;" />
                    <span style="position: absolute;top: 20px;left:15px;padding:5px;color:white;background: rgba(0,0,0,0.5);">{{photo.height}}x{{photo.width}}</span>
                    <md-card-content ng-if="photo.caption">
                        <span>{{photo.caption}}</span>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div class="pagination" ng-if="pageCount()>1" style="text-align:center;position:fixed;bottom:25px;width:100%;">
        <md-button class="md-fab" ng-class="prevPageDisabled()" ng-click="prevPage()">
            &lt;
        </md-button>
        <md-button class="md-fab"
                   ng-repeat="n in range()"
                   ng-class="{active: n == currentPage}" ng-click="setPage(n)">
            {{n+1}}
        </md-button>
        <md-button class="md-fab" ng-class="nextPageDisabled()" ng-click="nextPage()">
            &gt;
        </md-button>
    </div>
</div>
