<% content_for :title, "YFU Photo Browser | Log in" %>
<% content_for :style do %>
    <link rel="stylesheet" href="/assets/stylesheets/devise.css">
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="login">
            <img class="profile-img" src="/assets/images/logo.png" alt="YFU Logo" width="180" height="180">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.email_field :email, autofocus: true, placeholder: 'Username', class:'form-control', required:true %>
                <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password',class:'form-control', required:true%>
                <% if devise_mapping.rememberable? -%>
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :remember_me %> Remember me
                      </label>
                    </div>
                <% end -%>
              <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
